<!DOCTYPE html>
<html>
<head>
  <link rel="Shortcut icon" href="/favicon.ico" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <style type="text/css">
  body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
  </style>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=LSg8A8U78TtSexwrgB0rGQqt"></script>
  <title>地图展示</title>
</head>
<body>
  <p id="info">test</p>
  <div id="allmap"></div>
      <script>
     document.onreadystatechange = function () {   
           if(document.readyState=="complete") { 
                var map = new BMap.Map("allmap");    // 创建Map实例
                var lat=116.404;
                var leg=39.915;

                var info=document.getElementById('info');
                info.innerHTML="hhhhhhh"
                var host = '115.28.165.86';
                var port = '1883';
                var topic = 'mqtt2ws'
                var qos = 0;
                var clientID = 'mqtt2ws'+Math.floor(Math.random()*1000);
                //generate url
                var url = 'ws://115.28.165.86:8080?host='+host+'&port='+port+'&topic='+topic+'&clientID='+clientID+'&qos='+qos;
                //start WebSocket
                var ws = new WebSocket(url);
                //onopen event
                ws.onopen = function()
                {
                  info.innerHTML='WebSocket opened!';
                };
                //onmessage event. This will behalf as "MQTT's message arriving when subscribing"
                ws.onmessage = function (evt) 
                {                   
                  info.innerHTML = evt.data;
                  var point = new BMap.Point(116.417854,39.921988);
                  map.centerAndZoom(point, 11);  // 初始化地图,设置中心点坐标和地图级别
                  map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
                  map.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设置的
                  map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放

                  var opts = {
                    position : point,    // 指定文本标注所在的地理位置
                    offset   : new BMap.Size(30, -30)    //设置文本偏移量
                  }
                  var label = new BMap.Label(info.innerHTML , opts);  // 创建文本标注对象
                    label.setStyle({
                       color : "red",
                       fontSize : "12px",
                       height : "20px",
                       lineHeight : "20px",
                       fontFamily:"微软雅黑"
                     });
                  map.addOverlay(label);  

                  lat=lat+1;
                  leg=leg+1;
                };
                //onclose event
                ws.onclose = function(err)
                { 
                 info.innerHTML = 'WebSocket closed';
                };
                //send message. This will behalf as "MQTT's publish message"
                ws.send('This message will publish to MQTT broker with topic '+topic);
                            }   
                      }   
          </script>
</body>
</html>