<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=7" />
<title>上海海闳电子科技有限公司</title>
<link href="/hhfile/css/style.css" rel="stylesheet" type="text/css" />
<script src="/hhfile/js/jquery.js" type="text/javascript"></script>
<script src="/hhfile/js/script.js" type="text/javascript"></script>
<script src="/hhfile/js/MSClass.js" type="text/javascript"></script>
</head>
<body>
<!--头部开始-->
<!--留言-->
<div id="leftad" class="qqad">
<div class="message">
  <form name="feedback" action="/hhfile/feedback" method="post">
  <div class="mast">
    <dl>
      <dd>
        <textarea name="content" class="input"></textarea>
      </dd>
	  <dd>
	    <input type="submit" name="Submit3" value="提 交" class="btn_2"/>
	  </dd>
    </dl>
  </div>
  <div class="title"></div>
</form>	
  </div>
</div>
<!--留言 end-->
<!--在线咨询飘浮-->
<div id="rightad" class="qqad">
  <div class="rightadv">
    <div class="close" title="关闭"></div>
    <ul>
      <li><a target=blank href=tencent://message/?uin=2851638502&Site=qq&Menu=yes><img border="0" SRC=http://wpa.qq.com/pa?p=1:2851638502:4 alt=""/>销售部</a></li>
      <li><a target=blank href=tencent://message/?uin=2851638505&Site=qq&Menu=yes><img border="0" SRC=http://wpa.qq.com/pa?p=1:2851638505:4 alt=""/>售后部</a></li>
      微信扫扫,获取更多帮助<img src="__PUBLIC__/images/HHBAR.jpg" width="110" height="110"/>
    </ul>
  </div>
</div>
<div class="qqonline">
  <div class="btn"></div>
</div>
<script type="text/javascript">
scrollImg();
scrollImg2();
</script>
<div id="head"><a href="__URL__/index.html" class="logo"></a>
  <div class="right">
	<if condition="$login eq 1"><a href="__URL__/loginAction" class="exit">{$username}</a> <a href="__URL__/logout" class="exit">     安全退出</a>
	<elseif condition="$login eq 2" /> <a href="__URL__/loginAction" class="exit">{$username}</a><a href="__URL__/logout" class="exit">     安全退出</a><a href="__URL__/management.html" class="exit">     管理入口</a>
	<else /> <a href="__URL__/login.html" class="login">登录</a><a href="__URL__/register.html" class="reg">注册</a>
	</if>

  </div>
  <div id="nav" class="yh">
    <ul>
      <li><span class="aon" id="home"><a href="__URL__/index.html">首页</a></span></li>
      <li><span class="aon"><a href="__URL__/companynews.html">新闻中心</a></span>
        <dl class="subnav">
          <dd><a href="__URL__/companynews.html">公司新闻</a></dd>
          <dd><a href="__URL__/fieldnews.html">公告栏目</a></dd>
        </dl>
      </li>
      <li><span class="aon"><a href="__URL__/product.html">产品展示</a></span></li>
      <li><span class="aon"><a href="__URL__/guide.html">应用指南</a></span>
        <dl class="subnav">
          <dd><a href="__URL__/guide.html#wulian">物联网平台使用</a></dd>
          <dd><a href="__URL__/guide.html#mokuai">各类模块的使用</a></dd>
          <dd><a href="__URL__/guide.html#shouji">手机APP的使用</a></dd>
          <dd><a href="__URL__/guide.html#kongzhi">控制器</a></dd>
          <dd><a href="__URL__/guide.html#qita">其他功能模块</a></dd>
        </dl>
      </li>
      <li><span class="aon"><a href="http://www.hhlab.cn/bbs">论坛</a></span></li>
      <li><span class="aon"><a href="http://hhlabshop.1688.com/">阿里巴巴海闳店</a></span></li>
      <li><span class="aon"><a href="__URL__/download.html">资料下载</a></span>

      </li>
      <li><span class="aon" ><a href="__URL__/equipment.html">公开设备</a></span>
        <dl class="subnav">
          <dd><a href="__URL__/equipment.html">地图模式</a></dd>
          <dd><a href="__URL__/equipment2.html">列表模式</a></dd>
          <dd><a href="__URL__/equipment3.html">推荐网关</a></dd>
        </dl>
      </li>
      <li><span class="aon" id="last"><a href="__URL__/about.html">关于我们</a></span>
        <dl class="subnav">
          <dd><a href="__URL__/about.html">公司介绍</a></dd>
          <dd><a href="__URL__/culture.html">公司文化</a></dd>
          <dd><a href="__URL__/hornor.html">公司荣誉</a></dd>
        </dl>
      </li>
    </ul>
  </div>
  <script src="/hhfile/js/nav.js" type="text/javascript"></script>
</div>
<!--头部结束-->