<!doctype html>
<html lang="en">
<head>
  <script type="text/javascript" src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
  <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/exporting.js"></script>
  <script>


$(function () {    
    $(document).ready(function() {  
        var audio = document.getElementById('audio_player');
        audio.pause();

        Highcharts.setOptions({                                                     
            global: {                                                               
                useUTC: false                                                       
            }                                                                       
        });                                                                         
                                                                                    
        var chart;            
        $('#container').highcharts({                                                
            chart: {                                                                
                type: 'spline',                                                     
                animation: Highcharts.svg, // don't animate in old IE               
                marginRight: 10,                                                    
                events: {                                                           
                    load:  function(){
                        var series = this.series[0];   
                        var series1 = this.series[1];  
                        var info=document.getElementById('info');
                        info.innerHTML="服务器正在连接中......"

                        var host = '115.28.165.86';
                        var port = '1883';
                        var topic = 'aaaaa'
                        var qos = 0;
                        var clientID = 'mqtt2ws'+Math.floor(Math.random()*1000);
                        //generate url
                        var url = 'ws://115.28.165.86:8081?host='+host+'&port='+port+'&topic='+topic+'&clientID='+clientID+'&qos='+qos;
                        //start WebSocket
                        var ws = new WebSocket(url);
                        //onopen event
                        ws.onopen = function()
                        {
                          info.innerHTML='服务器已连接';
                        };       
                        
                        ws.onmessage = function (evt) 
                        {    
                          // info.innerHTML=evt.data
                          var data=JSON.parse(evt.data);               
                          var x = (new Date()).getTime();
                          y=data.temp;
                          y1=data.humi;
                          series.addPoint([x, y], true, true); 
                          series1.addPoint([x, y1], true, true);
                          if(y>27)
                          {
                            audio.play();
                          }else{
                            audio.pause();
                          }                          
                        }; 
                        ws.onerror = function()
                        {
                          info.innerHTML='服务器连接出错';
                        };  
                        ws.onclose = function()
                        {
                          info.innerHTML='服务器连接关闭';
                        };                                                            
                    }                                                      
                }                                                                   
            },                                                                      
            title: {                                                                
                text: '实验室温度数据'                                            
            },       
            subtitle: { 
                text: '环境温湿度', 
                x: -20 
            },                                                               
            xAxis: {                                                                
                type: 'datetime',                                                   
                tickPixelInterval: 50                                              
            }, 

            yAxis: [{ // Primary yAxis 
                labels: { 
                    formatter: function() { 
                        return this.value +'°C'; 
                    }, 
                    style: 
                    { 
                        color: '#89A54E' 
                    } 
                }, 
                title: { 
                    text: 'Temperature', 
                    style: { 
                        color: '#89A54E' 
                    } 
                }, 
                opposite: true 
            },{ // Primary yAxis 
                labels: { 
                    formatter: function() { 
                        return this.value +'%RH'; 
                    }, 
                    style: 
                    { 
                        color: '#89A54E' 
                    } 
                }, 
                title: { 
                    text: 'Temperature', 
                    style: { 
                        color: '#89A54E' 
                    } 
                }, 
                opposite: true 
            }],                                                     
            tooltip: {                                                          
                shared: true                                                               
            },                                                                      
            legend: {                                                               
                enabled: true                                                      
            },                                                                      
            exporting: {                                                            
                enabled: true                                                      
            }, 
            plotOptions:{
                spline:{
                    lineWidth:1,
                    states:{
                        hover:{
                            lineWidth:5
                        }
                    },
                    marker:{
                        enabled:true
                    },
                    dataLabels: { 
                        enabled: true 
                    },
                    enableMouseTracking: true
                }
            },                                                                     
            series: [{                                                              
                name: '温度',                                                
                data: (function() {                                                 
                    // generate an array of random data                             
                    var data = [],                                                  
                        time = (new Date()).getTime(),                              
                        i;                                                          
                                                                                    
                    for (i = -19; i <= 0; i++) {                                    
                        data.push({                                                 
                            x: time + i * 1000,                                     
                            y:0                                        
                        });                                                         
                    }                                                               
                    return data;                                                    
                })(),
                  tooltip: { valueSuffix: ' ℃' } 
              },{                                                              
                name: '湿度',                                                
                data: (function() {                                                 
                    // generate an array of random data                             
                    var data = [],                                                  
                        time = (new Date()).getTime(),                              
                        i;                                                          
                                                                                    
                    for (i = -19; i <= 0; i++) {                                    
                        data.push({                                                 
                            x: time + i * 1000,                                     
                            y:0                                        
                        });                                                         
                    }                                                               
                    return data;                                                    
                })(),
                tooltip: { valueSuffix: ' %RH' }                                                      
            }]                                                                      
        });                                                                         
    });                                                                             
                                                                                    
});                                                                                 				
  </script>
</head>
<body>
  <audio  controls="controls" autoplay="autoplay" id="audio_player" src="/tkzc.mp3" style="display:none;">
        Your browser does not support the audio element.
  </audio>
  <p id="info">test</p>
  <div id="container" style="min-width:700px;height:400px"></div>
</body>
</html>
