<html>
<head>
	<title></title>
<script type="text/javascript" src="http://115.28.165.86:8080/public/js/jquery.min.js"></script>
</head>
<body>
<script type="text/javascript">
$(function(){
    $('#change_validate_code').click(function(){
        $('#validata_img').attr('src', 'http://115.28.165.86:8080/qrvalide.php?' + Math.random());
    });
    $('#validata_img').click(function(){
        $('#validata_img').attr('src', 'http://115.28.165.86:8080/qrvalide.php?' + Math.random());
    });

    $("#submit").click(function(){
        $.ajax({
            cache: true,
            type: "POST",
            url:'/loginsubmit',
            data:$("#myform").serialize(),
            async: false,
            error: function(request) {
            
            },
            success: function(data) {
                if(data.ack === true)
                {
                    window.location.href='main.html';
                }else{
                    alert("not pass")
                }
            }
        });
    })
});
</script>
       <form id="myform" method="post">
            <p>
                <label for="myname">用户名：</label>
                <!-- id和name最好同时写上 -->
                <input id="myname" name="myname" type="text"/>
            </p>
            <p>
                <label for="password">登陆密码：</label>
                <input id="password" name="password" type="password" />
            </p>
            <p>
                <input  type="button" id="submit" value="登陆" />
            </p>
            <img id="validata_img" src="http://115.28.165.86:8080/qrvalide.php"  alt="vrcode"/> <a id="change_validate_code" href="javascript:void(0);">看不清楚？再换一张</a>
        </form>
</body>
</html>