<html>
<% include header.html%>
<head>
	<title>new scms</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<script type="text/javascript" src="lib/angular/angular.js"></script>
<script type="text/javascript" src="lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.js"></script>

	<div class="input-group">
		<span class="input-group-addon">@</span>
		<input type="text" class="form-control" placeholder="UserName">
	</div>

	<div class="container">
	</div>
</body>
<% include footer.html%>
</html>